<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.name }} | {{ site.title }}</title>
  {%- seo title=false -%}

  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}">

  {%- if site.google_analytics -%}
    {%- include google-analytics.html -%}
  {%- endif -%}
</head>
