<div class="container skills-container">
  <h3>{{ site.skills_title | default: "Skills" }}</h3>
  
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Orchestration</th>
        <th scope="col">DevOps</th>
        <th scope="col">CI Tools</th>
        <th scope="col">Monitoring</th>
      </tr>
    </thead>
    <tbody>
       {% for skill in site.data.skills %}
        
        <tr>
          <td>
          <div class="progress skill">
            {% assign orchestration = skill["orchestration"] %}
            <div class="progress-bar progress-bar-animated {{ orchestration.color }}" role="progressbar" aria-valuenow="{{ skill.percentage }}"
            aria-valuemin="0" aria-valuemax="100" style="width:{{ orchestration.percentage }}%">
              {{ orchestration.name }}
            </div>
          </td>
          
          <td>
            <div class="progress skill">
              {% assign devops = skill["devops"] %}
              <div class="progress-bar progress-bar-animated {{ devops.color }}" role="progressbar" aria-valuenow="{{ skill.percentage }}"
              aria-valuemin="0" aria-valuemax="100" style="width:{{ devops.percentage }}%">
              {{ devops.name }}
              </div>
            </div>
          </td>
          
           <td>
              <div class="progress skill">
                {% assign ci-tools = skill["ci-tools"] %}
                <div class="progress-bar progress-bar-animated {{ ci-tools.color }}" role="progressbar" aria-valuenow="{{ skill.percentage }}"
                aria-valuemin="0" aria-valuemax="100" style="width:{{ ci-tools.percentage }}%">
                {{ ci-tools.name }}
                </div>
              </div>
            </td>
            <td>
                <div class="progress skill">
                  {% assign monitoring = skill["monitoring"] %}
                  <div class="progress-bar progress-bar-animated {{ monitoring.color }}}" role="progressbar" aria-valuenow="{{ skill.percentage }}"
                  aria-valuemin="0" aria-valuemax="100" style="width:{{ monitoring.percentage }}%">
                  {{ monitoring.name }}
                  </div>
                </div>
            </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
</div>
